@import "theme";
html,
body {
    width: 100%;
    height: 100%;
}

#root {
    height: inherit;
    width: inherit;
}

.sidebar {
    position: fixed;
    width: 360px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-top: 42px;
    padding-left: 59px;
    padding-bottom: 54px;
    &-icon {
        display: inline-block;
        margin-bottom: 20px;
        width: 86px;
        height: 91px;
        font-family: Futura;
        font-size: 45px;
        font-weight: 800;
    }
    &-rank {
        margin: 0 auto;
        padding: 0;
        display: inline-block;
        height: 31px;
        font-family: Futura;
        font-size: 15px;
        font-weight: bold;
        list-style: none;
        li {
            margin-bottom: 6px;
            height: 29px;
        }
        &-element {
            &-number {
                display: inline;
                font-family: Futura;
                font-size: 17px;
            }
            &-item {
                display: inline;
                margin-left: 15px;
                font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
                font-size: 15px;
            }
        }
        &-pager {
            margin-top: 26px;
            h4 {
                font-family: Futura;
                font-size: 25px;
                font-weight: bold;
                color: #e10101;
            }
        }
    }
    &-profile {
        margin-top: 111px;
        h2 {
            font-family: Futura;
            font-size: 50px;
            font-weight: bold;
            line-height: 0.8;
        }
        display: inline-block;
    }
}

.comment {
    &-news {
        margin-left: 360px;
        width: 428px;
        height: 100%;
        position: fixed;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        background-color: #f9f9f9;
        img {
            width: 100%;
        }
        h1 {
            margin-left: 42px;
            margin-right: 42px;
            margin-bottom: 28px;
            display: inline-block;
            font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
            font-size: 24px;
            font-weight: bold;
            color: #e10101;
        }
        p {
            margin-left: 43px;
            margin-right: 43px;
            display: inline-block;
            font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
            font-size: 18px;
            font-weight: normal;
            text-align: left;
            color: #000000;
        }
        a {
            margin-left: 43px;
            margin-right: 43px;
            display: inline-block;
            font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
            font-size: 18px;
            font-weight: bold;
            text-align: left;
        }
    }
    &-list {
        margin-left: 800px;
        margin-top: 60px;
        position: fixed;
        width: 600px;
    }
    &-detail {
        margin: 0 0 147px 40px;
        font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
        font-size: 20px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        h3 {
            margin: 0 0 17px 0;
            font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
            font-size: 20px;
            font-weight: bold;
            color: #e10101;
        }
        p {
            font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
            font-size: 20px;
            font-weight: normal;
            color: #000000;
        }
    }
}